---
services:
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    environment:
      - TZ=Europe/Paris
    volumes:
      - $ROOT_FOLDER:/srv
      - ./filebrowser.db:/database.db
        # - ./.filebrowser.json:/.filebrowser.json
    user: '1000:1000'
    # ports:
    #   - 80:80
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.entrypoints=insecure"
      - "traefik.http.routers.filebrowser.rule=Host(`files.$DOMAIN`)"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80"
      # - "traefik.http.routers.filebrowser.tls.certresolver=le"

networks:
    default:
        name: $DEFAULT_NETWORK
        external: true
