---
version: '2'
services:
  web:
    image: gitea/gitea:latest
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - USER_UID=1000
      - USER_GID=1000
    ports:
      # - "3000:3000"
      - "22:22"
    depends_on:
      - db
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.entrypoints=insecure"
      - "traefik.http.routers.gitea.rule=Host(`gitea.$DOMAIN`)"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
      # - "traefik.http.routers.gitea.tls.certresolver=le"

  db:
    image: mariadb:10
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=gitea
      - MYSQL_USER=gitea
      - MYSQL_PASSWORD=$MYSQL_PASSWORD
    volumes:
      - ./db/:/var/lib/mysql

networks:
    default:
        external:
            name: $DEFAULT_NETWORK
