---
version: "2"
services:
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - UMASK=022 #optional
    volumes:
      - ./config:/config
      - $MOVIES_FOLDER:/movies
      - $DOWNLOADS_FOLDER:/downloads
    # ports:
    #   - 7878:7878
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=insecure"
      - "traefik.http.routers.radarr.rule=Host(`radarr.$DOMAIN`)"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
        # - "traefik.http.routers.radarr.tls.certresolver=le"

networks:
    default:
        external:
            name: $DEFAULT_NETWORK
