# Rename this file to .env
# Settings: https://github.com/dbeley/maloja/blob/master/settings.md

# Required for Traefik
DEFAULT_NETWORK=traefik-network
DOMAIN=yourdomain.home

# Set an admin password (only needed on first run)
MALOJA_FORCE_PASSWORD=

# Optional Last.fm integration (free key: https://www.last.fm/api/account/create)
MALOJA_LASTFM_API_KEY=
MALOJA_LASTFM_API_SECRET=
MALOJA_FOLLOW_LASTFM_USERNAME=votre_user
