---
version: "2"
services:
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - RUN_OPTS=run options here #optional
    volumes:
      - ./config:/config
      - $DOWNLOADS_FOLDER:/downloads
    # ports:
    #   - 9117:9117
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.entrypoints=insecure"
      - "traefik.http.routers.jackett.rule=Host(`jackett.$DOMAIN`)"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
        # - "traefik.http.routers.jackett.tls.certresolver=le"

networks:
    default:
        external:
            name: $DEFAULT_NETWORK
