# Rename this file to .env
# Dozzle settings: https://dozzle.dev/guide/supported-env-vars

# Required for Traefik
DEFAULT_NETWORK=traefik-network
DOMAIN=yourdomain.home

# Optional authentication (uncomment and set to enable login)
# DOZZLE_USERNAME=
# DOZZLE_PASSWORD=